html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  color: #222;
  line-height: 1.3rem;
  font-size: 1.125rem;

}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: "Crimson Text", serif;
*/

body {
  margin: 1.125rem;
}

article header {
  padding: 5px;
  border-bottom: 1px solid #999;
}

article h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

article header p {
  font-style: italic;
  color: #555;
  margin-top: 3px;
}

blockquote {
  padding: 15px;
  width: 75%;
}

.quote {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.3rem;


article ol {
  padding-left: 1em;
}

article {
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #999;
}
