html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  color: #222;
  line-height: 1.3rem;
  font-size: 1.125rem;
  margin: 1em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: "Crimson Text", serif;
*/

header {
  padding: 5px;
  border-bottom: 2px solid #999;
}

h1 {
  margin-bottom: 5px;
}

header p {
  margin-top: 3px;
}
article header h1 {
  font-weight: normal;
}

article header p {
  font-style: italic;
  color: #555;
}

.quote {
  font-size: 1.5rem;
  line-height: 1.3rem;
}

article {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #999;
}
