html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  margin: 0 0 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: "Crimson Text", serif;
*/

body {
  margin: 0;
}

article p {
  color: #222;
  line-height: 1.3rem;
  font-size: 1.125rem;
}

article header {
  border-bottom: 2px solid #999;
}

article h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1px;
}

article header p {
  font-style: italic;
  color: #555;
  margin-top: 3px;
}

blockquote {
  width: 75%;
}

.quote {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.3rem;
}

article ol {
  padding-left: 1em;
}

article {
  padding: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #999;
}
